.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	position: fixed;
	background-color: #02565f;
	padding: 15px 0;
	z-index: 1000;
}

.btn {
	background: white;
	border: none;
	padding: 10px 15px;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover {
	background: #b08fbf;
}

.home-container {
	position: relative;
	width: 80px;
	height: 0;
}

.home {
	background-color: rgb(255, 236, 236);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
	.menu {
		top: 0;
		bottom: auto;
		height: 60px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 48% 80%, 52% 80%, 50% 100%, 0 100%);
	}

	.home {
		top: -15px;
	}
}

@media (max-width: 767px) {
	.menu {
		bottom: 0;
		top: auto;
		height: 70px;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 48% 120%, 52% 120%, 50% 100%, 0 100%);
	}

	.home {
		top: -55px;
	}
}
