.MoodResume {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  margin-top: 30px;
  width: 390px;
  height: 220px;
  border-radius: 20px;
  border: 7px solid #5d7fdc;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.moodResumeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moodResumeWrapp {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.moodResumeNumber {
  font-size: 50px;
  margin: 10px;
  color: #5d7fdc;
  align-self: baseline;
  animation: bounce 1s ease-out forwards;
}

.moodResumeMessage1 {
  width: 300px;
  font-size: 25px;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #5d7fdc;
  opacity: 0;
  animation: fadeIn 1s ease-out 0.5s forwards;
}

.moodResumeMessage2 {

  font-size: 40px;
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 0px;
  color: #5d7fdc;
  opacity: 0;
  animation: fadeIn 1s ease-out 1s forwards;
}

.moodResumeMessage3 {
  width: 300px;
  font-size: 25px;
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 20px;
  color: #5d7fdc;
  opacity: 0;
  animation: fadeIn 1s ease-out 1s forwards;
}

.faceSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-self: center;
}

.spaceiwi {
  height: 100px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


.nodataMessage{
  font-weight: 700;
  color: #5d7fdc;
  font-size: 25px;
  margin-left:50px;
}