.floating-button {

  right: 20px; /* Alineado a la derecha */
  width: 150px;
  margin-left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00A0B2;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}

.iconCalendar {
  margin-right: 8px;
}

.monthly{
  color: #ffffff;
}

.monthText {
  margin: 0;
  margin-top: 2px;
  font-size: 14px;
  color: #ffffff;
}
