.todo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: white;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	width: 90%;
	max-width: 400px;
	margin: auto;
	border: 2px solid #02565f;
	margin-top: 50px;
}

.todo-title {
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.task-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}

.task-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background: #d9ecee;
	border-radius: 8px;
	width: 100%;
}

.task-text {
	font-size: 1.1rem;
}

.task-status {
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

.task-status.pending {
	background: #cea8fc;
}

.task-status.inprogress {
	background: #cbf6ab;
}

.task-status.completed {
	background: #b2f0f7;
}

.new-task-btn {
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	background: #00a0b2;
	color: white;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.1rem;
}

@media (max-width: 600px) {
	.task-item {
		flex-direction: row;
		gap: 10px;
		align-items: center;
	}

	.task-status {
		width: auto;
		min-width: 100px;
	}
}
