@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap');

.MealPlan-Phrase {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 250px;
	margin: 0 auto;
	font-family: 'Satoshi', sans-serif !important;
	font-weight: 500 !important;
	font-size: 21px;
	color: #000000;
	line-height: 1.3;
	word-wrap: break-word;
}
