.money-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  gap: 15px;
  border-radius: 10px;
}

.top-section {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.balance-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;

}

.money-card {
  margin-top: 20px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.expense { border-color: #f7b2b2; }
.income { border-color: #FFE772; }
.balance { background: #5aa222;
  height: 100px;
width: 300px;

} /* Verde pastel */

.expense-icon {
  margin-right: 4px;
  color: red;
}


.money-card-balance {
  height: 30px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color:#71d6a9 ;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  margin-bottom: 20px;
}

.ptotal{
  font-size: 18px;
  margin-right: 20px;
  margin-left: 20px;
}

.h2text {
  margin: 5px 0;
  font-size: 20px;
  display: flex;
  align-items: center;
}

p {
  margin: 5px 0;
  font-size: 14px;
}

.income-icon {
  color: #00a746;
  margin-right: 4px;
} /* Verde */

.add-btn {
  margin-top: 10px;
  background: linear-gradient(135deg, #79CFD9, #00A0B2);
  border: none;
  border-radius: 10px;
  width: 75px;
  height: 25px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: 0.3s;
}

.add-btn:hover {
  background: linear-gradient(135deg, #00A0B2, #79CFD9);
}

.h2text1{
  font-size: 20px;
  margin-right: 20px;
}