@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap');

.Phrase {
	font-family: 'Satoshi', sans-serif !important;
	font-weight: 500 !important;
	font-size: 21px;
	color: #000000;
	margin: 0;
	padding: 50px;
	text-align: center;
	padding-block-end: 40px;
	padding-block-start: 20px;
	line-height: 1.3;
}
