.timeLineDate{
display: flex;
flex-direction: row;
align-items: center;
}

.timeLineDay{
margin-left: 20px;
background-color: #C5DDE0;
width: 60px;
height: 30px;
text-align: center;
border-radius: 10px;
}

.dayOfWeek{
  margin-top: 3px;
  padding: 0;
}

.timeLineMiniValues{
  display: flex;
  flex-direction: row;
  margin-left: 200px;
}

.incomesP{
  margin-right: 10px;

}