@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap');

.Phrase {
  padding: 50px 20px 40px 20px; /* mantiene el padding del contenedor */
  text-align: center;
}

.phraseText {
  font-family: 'Satoshi', sans-serif !important;
  font-weight: 500 !important;
  font-size: 21px;
  color: #000000;
  margin: 0;
  line-height: 1.3;
}

/* Tablets */
@media screen and (min-width: 768px) {
  .phraseText {
    font-size: 26px;
  }
}

/* Computadoras */
@media screen and (min-width: 1024px) {
  .phraseText {
    font-size: 30px;
  }
}

/* Pantallas grandes */
@media screen and (min-width: 1440px) {
  .phraseText {
    font-size: 34px;
  }
}

/* Ultra pantallas */
@media screen and (min-width: 2560px) {
  .phraseText {
    font-size: 40px;
  }
}
