.input-style{
  font-size: 18px; /* Increased font size for better readability */
  width: 100%; /* Full width for better responsiveness */
  padding: 10px 10px 10px 20px; /* Adjusted padding for better spacing */
  border: 1px solid #02565F;
  color: #333;
  background-color: transparent;
  border-radius: 10px; /* More rounded corners */
  text-align: left;
  transition: border-color 0.3s; /* Smooth transition for focus effect */
  margin-bottom: 20px;
}

.text-area-style{
  font-size: 18px; /* Increased font size for better readability */
  width: 100%; /* Full width for better responsiveness */
  height: 100%;
  padding: 10px 10px 50px 20px; /* Adjusted padding for better spacing */
  border: 1px solid #02565F;
  color: #333;
  background-color: transparent;
  border-radius: 10px; /* More rounded corners */
  text-align: left;
  transition: border-color 0.3s; /* Smooth transition for focus effect */
  margin-bottom: 20px;


}