.PlanToday {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.plan-today {
  font-family: 'Satoshi', sans-serif !important;
  font-weight: 900 !important;
  font-size: 24px;
  color: #000000;
  margin: 0;
}

/* Tablets en adelante */
@media screen and (min-width: 768px) {
  .plan-today {
    font-size: 28px;
  }
}

/* Computadoras */
@media screen and (min-width: 1024px) {
  .plan-today {
    font-size: 32px;
  }
}

/* Pantallas grandes */
@media screen and (min-width: 1440px) {
  .plan-today {
    font-size: 36px;
  }
}
