@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400&display=swap');

.Name-Recipe {
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px 0;
}

.title-NameRecipe {
	font-family: 'Satoshi', sans-serif !important;
	font-weight: 900 !important;
	font-size: 24px;
	color: #000000;
	margin: 0;
	margin-bottom: 40px;
	text-align: center;
}

.recipe-image{
	width: 70%;
	height: 70%;
	justify-self: center;
	align-self: center;
	display: flex;
	border-radius: 20px;

}