.button-chevro1 {
	background: none;
	border: none;
	padding-top: 50px;
	margin-top: 60px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: #02565f;
}

.recipe-detail-container{
	display: flex;
	flex-direction: row;
}

.button-chevro1:hover {
	color: #00a0b2;

}

.button-chevro1 {
	color: black;
	margin-top: 30px;
	margin-left: 20px;
	cursor: pointer;
}

.menusconttainer{
	left: 0;
	margin-right: 430px;
}

.spaceiwi{
  height: 150px;
}

@media screen and (min-width: 768px) {
.unlocked-cards-container {
  display: flex;
	gap: 30px;
  flex-direction: row;
}

}