/* profileInfo.css */

.profile-container {

  padding: 2rem;
  display: flex;
  flex-direction: column;
  color: black;
}

.profile-info{
    max-width: 900px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  color: black;
}

.profile-container h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
}

.profile-info p,
.finished-goals p,
.finished-recipes p {
  font-size: 20px;
  margin: 0.5rem 0;
}

.profile-info {
  margin-bottom: 2rem;
}

.finished-goals ul {
  list-style: none;
  padding: 0;
}

.finished-goals li {
  background-color: #f9f9f9;
  padding: 1rem;
  margin-bottom: 1rem;
  border-left: 5px solid #0b817d;
  border-radius: 8px;
}


.finished-goals {
margin-bottom: 80px;
margin-top: 80px;
}

.finished-goals h3,
.finished-recipes h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #555;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1.5rem;
}

.recipe-card {
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.recipe-card:hover {
  transform: translateY(-5px);
}

.recipe-image {
  width: 100%;

  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.recipe-description {
  color: #666;
  font-size: 0.95rem;
  margin-top: 0.5rem;
}

