.RECIPESRESUME {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  margin-top: 30px;
  width: 390px;
  height: 130px;
  border-radius: 20px;
  border: 7px solid #CEABF6;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.recipessResumeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipeWrapp {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.RecipeNumber {
  font-size: 70px;
  margin: 0;
  color: #7f36d7;
  animation: bounce 1s ease-out forwards;
}

.recipeWrappMessage {
  width: 150px;
  font-size: 25px;
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 0px;
  color: #5301B7;
  opacity: 0;
  animation: fadeIn 1s ease-out 0.5s forwards;
}

.recipeWrappMessagee {
  width: 150px;
  font-size: 25px;
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 0px;
  color: #5301B7;
  opacity: 0;
  animation: fadeIn 1s ease-out 0.5s forwards;
}

.spaceiwi {
  height: 100px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
