.button-view-All {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	padding: 20px;
}

.view-all {
	width: 136px;
	height: 44px;
	background-color: #00a0b2;
	color: white;
	border-radius: 10px;
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	border: none;
	outline: none;
	transition: background-color 0.3s ease;
}

.view-all:hover {
	background-color: #008c9b;
}

.view-all:focus {
	outline: none;
	box-shadow: none;
}

.view-all:focus-visible {
	outline: 2px solid #00a0b2;
	outline-offset: 2px;
}
