.recipe-boxtitle {
	font-family: 'Satoshi', sans-serif !important;
	font-size: 20px;
	font-weight: bold;
	padding: 15px 45px;
	margin: 0;
	text-align: center;
	color: black;
}

.image-wrap {
	width: 350px;
	height: 250px;
	border-radius: 12px;
	border: 1.5px solid rgba(2, 86, 95, 0.35);
	background-color: #f2feff;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.image-display {
	width: 300px;
	height: 200px;
	object-fit: cover;
	border-radius: 12px;
	display: block;
}

.description-paragraph {
	font-family: 'Satoshi', sans-serif !important;
	padding: 15px 45px 20px;
	margin: 0;
	font-size: 17px;
	line-height: 1.5;
	color: #333;
	text-align: left;
}
