.CongratsContainerPage {
	width: 430px;
	max-width: 100%;
}


.unlockedmessageee{
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.spaceesp{
  height: 160px;
}