/* Estilo para la página principal de congratulation */
.CongratsContainerPage {
  width: 100%;
  max-width: 600px; /* Aseguramos que no se expanda demasiado en pantallas grandes */
  margin: 0 auto;
  padding: 20px;
}

/* Estilo para la sección de mensaje desbloqueado */
.unlockedmessageee {
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px; /* Espaciado debajo de los elementos */
}

/* Espacio adicional para que la página no se vea apretada */
.spaceesp {
  height: 150px;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
  .CongratsContainerPage {
    padding: 10px; /* Menos espacio en pantallas pequeñas */
  }



  .unlockedmessageee {
    margin-bottom: 20px; /* Espaciado reducido en pantallas móviles */
  }

  .spaceesp {
    height: 100px; /* Menos espacio en pantallas pequeñas */
  }
}

/* Media Queries para pantallas medianas (tabletas, etc.) */
@media (min-width: 769px) and (max-width: 1024px) {
  .CongratsContainerPage {
    max-width: 800px; /* Aumentamos el ancho en pantallas medianas */

  }

}

/* Media Queries para pantallas grandes */
@media (min-width: 1025px) {
  .CongratsContainerPage {
     display: flex;
    flex-direction: row;
    max-width: 1000px; /* Expansión del ancho máximo en pantallas grandes */
  }

  .leftCongrats{
  margin-right: 30px;
}

.spaceesp {
  height: 50px;
}


}

/* Estilo para la sección del título de congratulation */
.Congrats {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

