.progressbar {
  width: 100% !important;
  max-width: 700px;
}

/* Contenedor gris (barra de fondo) */
.progressbar .ant-progress-outer {
  height: 40px !important;
  border-radius: 20px !important;
  background-color: #f0f0f0; /* gris claro */
}

/* Barra llena */
.progressbar .ant-progress-inner {
  height: 40px !important;
  border-radius: 20px !important;
  overflow: hidden;
}

/* Color de la barra de progreso */
.progressbar .ant-progress-bg {
  height: 40px !important;
  border-radius: 20px !important;
}

/* Para pantallas grandes */
@media screen and (min-width: 1024px) {
  .progressbar .ant-progress-outer,
  .progressbar .ant-progress-inner,
  .progressbar .ant-progress-bg {
    height: 48px !important;
    border-radius: 24px !important;
  }
}
