.input-style{
  font-size: 18px;
  width: 100%;
  padding: 10px 10px 10px 20px;
  border: 1px solid #02565F;
  color: #333;
  background-color: transparent;
  border-radius: 10px;
  text-align: left;
  transition: border-color 0.3s;
  margin-bottom: 20px;
}

.text-area-style{
  font-size: 18px;
  width: 100%;
  height: 100%;
  padding: 10px 10px 50px 20px;
  border: 1px solid #02565F;
  color: #333;
  background-color: transparent;
  border-radius: 10px;
  text-align: left;
  transition: border-color 0.3s;
  margin-bottom: 20px;


}