.recipe-card {
  background-color: #f2feff;
  border-color: rgba(2, 86, 95, 0.35);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
  width: 85%;
  max-width: 350px;
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  padding: 12px;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.meal-time {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.recipe-image-weekly {
  display: flex;
  width: 100%;
  max-width: 306px;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  justify-content: center;
  justify-self: center;
  margin: 0 auto;
}

.recipe-name {
  font-size: 20px;
  font-weight: 600;
  margin: 12px 0 4px 0;
  color: #222;
  padding-left: 8px;
  padding-right: 20px;
}

.recipe-description {
  color: #666;
  font-size: 17px;
  margin-bottom: 15px;
  padding-left: 8px;
  padding-right: 20px;
}

.lets-cook-button {
  background-color: #4abebd;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lets-cook-button:hover {
  background-color: #3da8a7;
  transform: translateY(-2px);
}

.today-meals-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 10px;
  max-width: 100%;
}

/* Scroll horizontal cards preview */
.week-preview-cards {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  margin-bottom: 15px;
}

.no-plan-message {
  text-align: center;
  color: #666;
  margin: 30px 0;
}

.weekly-plan-container {
  margin: 0 auto;
  padding: 10px;
}

/* Responsive */



@media screen and (min-width: 1024px) {
  .recipe-card {
    width: 350px;
    padding: 20px;
  }
  .meal-time {
    font-size: 22px;
  }
  .recipe-name {
    font-size: 24px;
  }
  .recipe-description {
    font-size: 19px;
  }
  .recipe-image-weekly {
    height: 260px;
  }
}

@media screen and (min-width: 1440px) {
  .recipe-card {
    width: 380px;
    padding: 24px;
  }
  .meal-time {
    font-size: 24px;
  }
  .recipe-name {
    font-size: 26px;
  }
  .recipe-description {
    font-size: 20px;
  }
  .recipe-image-weekly {
    height: 280px;
  }
}
