.Image-Emotions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .Image-Emotions img {
    width: 50%; /* Reducimos el tamaño de la imagen en pantallas pequeñas */
    height: auto;
  }
}

/* Responsive para pantallas grandes */
@media (min-width: 1024px) {
  .Image-Emotions img {
    width: 40%; /* Imagen un poco más pequeña en pantallas grandes */
    height: auto;
  }
}
