.MainContainerPage {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.MainContainerr {
	width: 100%;
	max-width: 430px;
	height: auto;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(75, 75, 75, 0.75);
	margin-top: 10px;
}

.MenuBarr {
	width: 100%;
	max-width: 230px;
	margin-right: 0;
}

.messageWelcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 15px;
	font-weight: 1000;
	margin-top: 10px;
}

.usernameMessage {
	margin-top: 15px;
	margin-bottom: 0;
	font-weight: regular;
	font-size: 24px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrappedMessage {
	margin-top: 5px;
	font-weight: regular;
	font-size: 20px;
}

.spaceiwii {
	height: 150px;
}

/* Media Queries para dispositivos pequeños (móviles) */
@media (max-width: 480px) {
	.MainContainerr {
		width: 100%;
		padding: 10px;
	}

	.MenuBarr {
		width: 100%;
		margin-right: 0;
	}

	.messageWelcome {
		font-size: 13px;
		text-align: center;
	}

	.usernameMessage {
		font-size: 18px;
	}

	.wrappedMessage {
		font-size: 16px;
	}

	.spaceiwii {
		height: 100px;
	}
}

/* Media Queries para dispositivos medianos (tabletas) */
@media (min-width: 481px) and (max-width: 768px) {
	.MainContainerr {
		width: 90%;
		height: auto;
	}

	.MenuBarr {
		width: 80%;
		margin-right: 0;
	}

	.messageWelcome {
		font-size: 14px;
	}

	.usernameMessage {
		font-size: 20px;
	}

	.wrappedMessage {
		font-size: 18px;
	}

	.spaceiwii {
		height: 120px;
	}
}

/* Media Queries para pantallas grandes (desktops) */
@media (min-width: 1025px) {
	.MainContainerr {
		width: 60%;
		height: auto;
	}

	.MenuBarr {
		width: 250px;
		margin-right: 150px;
	}

	.messageWelcome {
		font-size: 18px;
	}

	.usernameMessage {
		font-size: 30px; /* Aumenta aún más el tamaño de la fuente */
	}

	.wrappedMessage {
		font-size: 24px; /* Aumenta el tamaño de la fuente */
	}

	.spaceiwii {
		height: 150px;
	}
}

/* Media Queries para pantallas extra grandes (pantallas enormes) */
@media (min-width: 1440px) {
	.MainContainerr {
		width: 50%;
		height: auto;
	}

	.MenuBarr {
		width: 300px;
		margin-right: 200px;
	}

	.messageWelcome {
		font-size: 20px;
	}

	.usernameMessage {
		font-size: 36px; /* Aumenta el tamaño para pantallas muy grandes */
	}

	.wrappedMessage {
		font-size: 28px; /* Aumenta el tamaño de la fuente para pantallas grandes */
	}

	.spaceiwii {
		height: 200px; /* Más espacio entre secciones para pantallas grandes */
	}
}
