/* GoalDate.css */
/* GoalDate.css */
.ant-picker {
  width: 100%;  /* Aseguramos que el calendario ocupe el 100% del contenedor */
  margin-bottom: 20px; /* Espacio abajo del calendario */
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

