

:where(.css-dev-only-do-not-override-1d4w9r2).ant-picker-dropdown .ant-picker-header >button {
    width: 20px;
    min-width: 1.6em;
    font-size: 14px;
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-picker-dropdown .ant-picker-header-view >button {
    color: inherit;
    font-weight: inherit;
    vertical-align: top;
    height: 10px;
}

:where(.css-dev-only-do-not-override-1d4w9r2).ant-picker-dropdown .ant-picker-header-view >button:not(:first-child) {
    margin-inline-start: 8px;
    width: 10px;

    margin: 10px;
}